.mainField {
    max-width: 600px;
    max-height: 600px;
    background-color: gray;
}

.image {
    width: 400px;
}

.foodIndicatorLine {
    width: 100px;
    height: 20px;
    background-color: white;
}

.foodIndicator {
    height: 20px;
    background-color: green;
}

