/*@import '~antd/dist/antd.css';*/

.field {
/*    max-width: 600px;*/
    max-height: 750px;
    background-color: gray;
    padding: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.fieldWrapper {
    position: relative;
    max-width: 800px;
    max-height: 800px;
}

.image {
    width: 300px;
}

.progressLine {
    width: 300px;
}

.mainField {
    position: relative;
}

.modalWindow {
    border: solid black 1px;
    border-radius: 5px;
    background-color: white;
    z-index: 10;

    width: 250px;
    height: auto;
    text-align: center;
    padding: 15px;
}

.modalWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.wrapperCloseButton {
    position: relative;
}

.closeButton {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 230px;
    top: -50px;

}

.imgCloseButton {
    width: 100%;
}

.error {
    color: red;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;

}

.reStartDiv {
    margin-top: 15px;
    text-align: center;
}

.reStartBtn {
    border: solid black 1px;
    border-radius: 5px;
}

.petName {
    margin-bottom: 5px;
}

.enterName {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.inputEnterName {
    width: auto;
    margin-right: 5px;
    padding-right: 5px;
}

.button {
    margin-top: 5px;
    margin-right: -50%;
    width: 50px;
}

.text {
    margin-top: 10px;
    padding: 0;
}

/*.attention {*/
/*    color: red;*/
/*    font-size: 16px;*/
/*}*/




